<% if user_signed_in? %>
    <h1><%= @user.name %></h1>
    <% @user.images.each do |image| %>
        <section> 
	        <%= link_to image_tag(image.file, :size => "300x200", :crop => :fill), image %>
		    <h3> <%= image.title %></h3>
		    </a>
        </section>
     	    <div class="caption" style="text-align:center;">
            <%= link_to like_image_path(image),  class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                <span class="badge"><%= image.get_upvotes.size %></span>
                </button>
            <% end %>

            <%= link_to unlike_image_path(image), class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label="Left Align"> 
                <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                <span class="badge"><%= image.get_downvotes.size %></span>
                </button>  
            <% end %>
        </div>
    <% end %>
<% else %>
    <h1> Please log in</h1>
<% end %>
 