<%= form_for(@image_comment) do |f| %>
  <% if @image_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_comment.errors.count, "error") %> prohibited this image_comment from being saved:</h2>

      <ul>
      <% @image_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p>
  <strong>Image:</strong>
  <%= link_to image_tag(@image_comment.image.file, :size => "300x400", :crop => :fill), @image_comment.image %>
</p>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
