<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to @image_comment.user.name, user_path(@image_comment.user) %>
</p>

<p>
  <strong>Image:</strong>
  <%= link_to image_tag(@image_comment.image.file, :size => "260x180", :crop => :fill), @image_comment.image %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @image_comment.comment %>
</p>
<% if @image_comment.user_id == current_user.id %>
  <%= link_to 'Edit', edit_image_comment_path(@image_comment) %> |
  <%= link_to 'Back', :back %>
<% end %>