<p id="notice"><%= notice %></p>
<%= render 'layouts/header' %>

<h1>Listing Images</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>File</th>
      <th>Created at</th>
      <th>Address</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.user.name %></td>
        <td><%= image.title %></td>
        <td><%= link_to image_tag(image.file, :size => "260x180", :crop => :fill), image %></td>
        <td><%= image.created_at %></td>
        <td><%= image.address %></td>
        <td><%= image.comment %></td>
        
      </tr>
    <% end %>
  </tbody>
 
</table>

<br>
