<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <% if @image.user_id == current_user.id %>
    <%= link_to 'Edit', edit_image_path(@image) %> |
    <%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', images_path %>
  <% else %>
    <%= link_to 'Back', images_path %>
  <% end %>
<% else %>
 <%= link_to 'Back', images_path %>
<% end %>
<p>

  <%= image_tag @image.file %>
</p>
<div class="caption" style="text-align:center;">

            <%= link_to like_image_path(@image),  class: "like", method: :put do %>
              <button type="button" class="btn btn-info" aria-label="Left Align">
                <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                <span class="badge"><%= @image.get_upvotes.size %></span>
              </button>
            <% end %>

            <%= link_to unlike_image_path(@image), class: "like", method: :put do %>
              <button type="button" class="btn btn-info" aria-label="Left Align"> 
                <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                <span class="badge"><%= @image.get_downvotes.size %></span>
              </button>  
            <% end %>

      </div>
<p>
  <strong>User:</strong>
  <%= @image.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>



<p>
  <strong>Address:</strong>
  <%= @image.address %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>


<p>
  <strong>Created at:</strong>
  <%= @image.created_at %>
</p>
<% if user_signed_in? %>
  <h2> Comment</h2>
  <%= form_for(@image_comment) do |f| %>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_field :comment %>
      <%= f.hidden_field :image_id, :value =>@image.id %>
    </div>
    <div class = "actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
<ul>
  <% @image.image_comment.each do |image_comment| %>
  <li> <%= image_comment.user.name %>:  <%= image_comment.comment %>
  </li>
  <% if user_signed_in? %>
    <% if image_comment.user_id == current_user.id %>
      <td><%= link_to 'Show', image_comment %></td>
      <td><%= link_to 'Edit', edit_image_comment_path(image_comment) %></td>
      <td><%= link_to 'Destroy', image_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  <% end %>
  <% end %>
</ul>