<p id="notice"><%= notice %></p>
<p>

  <%= image_tag @image.file %>
</p>
<p>
  <strong>User:</strong>
  <%= @image.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>



<p>
  <strong>Address:</strong>
  <%= @image.address %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>


<p>
  <strong>Created at:</strong>
  <%= @image.created_at %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', images_path %>
<% else %>
  <%= link_to 'Back', images_path %>
<% end %>